<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinah.myschoolapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MySchoolApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResultActivity"></activity>
        <activity android:name=".CgpaActivity" />
        <activity android:name=".AppBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseworkActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".StudentRegistration"
            android:parentActivityName=".ProfileActivity" />

        <activity
            android:name=".AttendanceActivity"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".EditStudentActivity"
            android:parentActivityName=".AppBase" />
    </application>

</manifest>